.screen {
    min-height: 400px;
    display: none;
}

.screen-active {
    display: block;
}

.start-game-screen .start-game-button {
    margin: auto;
}


.card {
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    width: 15%;
    height: 100px;
    padding-top: 10px;

}

.card .material-icons {
    font-size: 60pt;
}

.card:hover {
    background: #ddd;
}

.card.open {
    background: #eee;
}

.cards-rows {
    align-content: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.screen-container {
    width: 90%;
    margin: auto;
}
