.start-game-screen {
    border: 1px solid black;
    width: 800px;
    height: 400px;
    display: none;
}

.start-game-screen .start-game-button {
    margin: auto;
}

.cards-screen {
    border: 1px solid black;
    width: 800px;
    height: 400px;
    display: none;
}

.screen-active {
    display: block;
}

.card {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.card:hover {
    background: #ddd;
}

.card.open {
    background: #eee;
}

.cards-rows {
    height: 100%;
    align-content: stretch;
    display: flex;
    flex-direction: column;   
}

.cards-row {
    align-content: stretch;
    display: flex;
    height: 100%;
}
